 /* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
p {
  color: green;
  font-style: italic;
}
h1 {
  color: maroon;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
h2{
  color: blue;
  font-family: "Lucida Console", "Courier New", monospace;
}
h3 {
  color: navy;
  font-weight: bold;
  text-decoration: underline;
  font-family: Helvetica, sans-serif;
}

img{
  border: 5px solid #6a2929;
  box-shadow: 10px 10px;
  height: 300px;
  width: 300px;
}

body{
  background-image: linear-gradient(red, green,blue); 
}

hr{
  border-color: black;
}